body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#first-half {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  z-index: 1010101010
}

#second-half {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  z-index: 1010101010
}
